*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/to.jpg);
    background-size: cover;
    background-position: fixed;
    
    
}
.navbar{
    display: flex;
      overflow: hidden;
      position: fixed;
      top: 0;
      width: 100%;
      background-color: rgba(119, 106, 106, 0.5);
     
  }

  .navbar img{
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 40px;
  }
  nav ul{
    
    display: flex;
      margin-left: 1000px;
      font-size: xx-large; 
      /* color: aliceblue; */
     font-weight: 400;
     font-style: oblique ;
     /* font-style: unset; */
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  nav li a:hover{
    
      background-color: hwb(40 60% 31%);
      box-shadow: 0 0 10px rgb(72, 73, 27) ;
  
  }

.container {
  max-width: 600px;
  margin-top: 100px;
  padding: 20px;
}

h1 {
  text-align: center;
  color: rgb(181, 122, 122);
 
  
  font-family: 'Sigmar', cursive;
 

}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  margin-bottom: 10px;
}

.todo-item input[type="checkbox"] {
  margin-right: 10px;
}
.todo-list{
 margin-left: 450px; 
 margin-top: 100px;  
 color: rgb(101, 72, 72);
}